$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeElementsHover: hsl(207, 21%, 20%);
$DarkModeBackground: hsl(207, 26%, 17%);
$LightModeText: hsl(200, 15%, 8%);
$LightModeInput: hsl(0, 0%, 52%);
$LightModeBackground: hsl(0, 0%, 98%);
$LightModeBackgroundHover: hsl(0, 0%, 90%);
$LightModeElements: hsl(0, 0%, 100%);
