@import "../colors/colors.modules.scss";

.input {
  // width: 80%;
  min-width: 16rem;
  max-width: 40rem;
  font-size: 1.2rem;
  padding: 0.8em 2em;
  border: none;
  border-radius: 0.4rem;
  // margin-left: 10%;
  // background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
  &::placeholder {
    color: $LightModeInput;
  }

  &.darkTheme {
    background-color: $DarkModeElements;
    color: $LightModeElements;
    &::placeholder {
      color: $LightModeElements;
    }
  }
}

.selectRegion {
  // margin: 2rem 10%;
  // display: flex;
  // display: none;
  // flex-direction: column;
  position: relative;
  // font-size: 1.2rem;
  // padding: 0.8em 2em;
  // border: none;
  // border-radius: 0.4rem;
  // background-color: white;
  // box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);

  .container {
    top: 0;
    left: 0;
    width: 140px;
    font-size: 1.2rem;
    // padding: 0.8em 2em;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
    background-color: $LightModeBackground;
    // color: black;
    opacity: 1;

    .link {
      text-decoration: none;
      display: none;
      padding: 0.8em 0;
      width: 100%;
      text-align: center;

      // background-color: $DarkModeElements;
      color: $DarkModeElements;
      &.show {
        display: inline;
        order: -1;
      }

      &.hide {
        order: 0;
        display: none;
      }
      &.darkTheme {
        color: $LightModeElements;
      }
      &:hover {
        border-radius: 0.4rem;
        background-color: $LightModeBackgroundHover;
      }
      &.darkTheme:hover {
        border-radius: 0.4rem;
        background-color: $DarkModeElementsHover;
      }
    }
    &:hover .link {
      display: block;
    }
    &.darkTheme {
      background-color: $DarkModeElements;
      color: $LightModeElements;
    }
  }
}

// ::placeholder {
//   color: green;
// }
