@import '../colors/colors.modules.scss';

.input {
  // width: 80%;
  min-width: 16rem;
  max-width: 40rem;
  font-size: 1.2rem;
  padding: 0.8em 2em;
  border: none;
  border-radius: 0.4rem;
  // margin-left: 10%;
  // background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
  &::placeholder {
    color: $LightModeInput;
  }

  &.darkTheme {
    background-color: $DarkModeElements;
    color: $LightModeElements;
    &::placeholder {
      color: $LightModeElements;
    }
  }
}

.selectRegion {
  // margin: 2rem 10%;
  font-size: 1.2rem;
  padding: 0.8em 2em;
  border: none;
  border-radius: 0.4rem;
  // background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);

  &.darkTheme {
    background-color: $DarkModeElements;
    color: $LightModeElements;
  }
}

// ::placeholder {
//   color: green;
// }
