@import "../colors/colors.modules.scss";

.countryPage {
  // position: absolute;
  padding: 0 10%;
  width: 100%;
  min-height: 90vh;
  top: 5rem;
  left: 0;
  background-color: $LightModeBackground;
  z-index: 10;
  &.darkTheme {
    background-color: $DarkModeBackground;
    color: $LightModeElements;
  }
  .button {
    border: none;
    border-radius: 0.4rem;
    background-color: $LightModeElements;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
    font-size: 1.2rem;
    padding: 0.4em 1em;
    margin: 0.6em 0.6em 0.6em 0;
    max-height: 3rem;
    &.darkTheme {
      background-color: $DarkModeElements;
      color: $LightModeElements;
    }
  }
  .borderButton {
    display: inline-block;
    border-radius: 0.4rem;
    background-color: $LightModeElements;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
    font-size: 1.2rem;
    padding: 0.4em 1em;
    margin: 0.5em;
    max-height: 3rem;
    color: $LightModeText;
    text-decoration: none;
    &.darkTheme {
      background-color: $DarkModeElements;
      color: $LightModeElements;
    }
  }
  .flagContainer {
    width: 100%;
    max-width: 34rem;
  }
  .flagImg {
    width: 100%;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
  }
  span {
    font-weight: 700;
  }
}
@media (min-width: 740px) {
  .countryPage {
    padding: 0 26%;
  }
}

@media (min-width: 1200px) {
  .countryPage {
    // height: calc(100vh - 3.8rem);
    padding: 0 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-template-rows: 20% 40% 80%;
    grid-template-rows: auto;
  }
  .button {
    grid-area: 1 / 1 / 2 / 2;
    // max-width: 10rem;
    // max-height: 3rem;
    align-self: center;
    justify-self: start;
  }
  .flagContainer {
    grid-area: 2 / 1 / 4 / 2;
    align-self: start;
    justify-self: start;
    margin-right: 1rem;
    max-width: 70%;
  }
  .details {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
    justify-self: start;
  }
  .borderCountries {
    grid-area: 3 / 2 / 4 / 3;
    align-self: start;
    justify-self: start;
  }
}
