@import '../src/components/colors/colors.modules.scss';

@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito Sans', sans-serif;
}

body {
  max-width: 100vw;
  color: $LightModeText;
  background-color: $LightModeBackground;
  font-family: 'Nunito Sans', sans-serif;
}

.darkTheme {
  background-color: $DarkModeBackground;
  min-height: 100vh;
}
