@import '../../colors/colors.modules.scss';

.switch {
  position: relative;
  display: block;
  width: 90px;
  height: 35px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.5s;
  border: 3px solid white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.slider:before {
  position: absolute;
  content: '';
  background-color: yellow;
  transition: 0.5s;
}

.switchInput {
  display: none;
}

.input:checked + .slider {
  background-color: $DarkModeBackground;
}

.input:checked + .slider::before {
  transform: translateX(55px);
  background-color: #d0d9e0;
}

.slider.round {
  border-radius: 35px;
}

.slider.round::before {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
